In [56]:
#importing all necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [57]:
test_data=pd.read_csv(r"C:\Users\YOUNUS\Downloads\9961_14084_bundle_archive\Test.csv")

In [58]:
train_data=pd.read_csv(r"C:\Users\YOUNUS\Downloads\9961_14084_bundle_archive\Train.csv")

In [60]:
test_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [61]:
train_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [62]:
train_data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [63]:
train_data.isnull() #checks for null values

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [64]:
train_data.isnull().sum() #get the sum of the null values

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [65]:
train_data[train_data['Item_Weight'].isnull()] # check the nulls in specific columns

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [66]:
train_data['Item_Weight'].fillna(0.0,inplace=True) # fill the numeric column nulls with 0.0

In [67]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [68]:
train_data['Outlet_Size']

0       Medium
1       Medium
2       Medium
3          NaN
4         High
         ...
8518      High
8519       NaN
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [69]:
train_data['Outlet_Size'].fillna(method='ffill') #use forward filling to fill the string column with values

0       Medium
1       Medium
2       Medium
3       Medium
4         High
         ...
8518      High
8519      High
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 8523, dtype: object

In [70]:
train_data['Outlet_Size'].fillna(method='ffill',inplace=True)

In [71]:
train_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,High,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [72]:
train_data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [74]:
y_train=train_data.Item_Outlet_Sales  # this the target, a.k.a, what we ultimately want to predict from the model

In [75]:
feature_names = ['Item_Type','Item_MRP','Outlet_Establishment_Year','Outlet_Size','Outlet_Type']
x_train=train_data[feature_names]   # we're only selecting the features we need

In [76]:
x_train

,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Type
0,Dairy,249.8092,1999,Medium,Supermarket Type1
1,Soft Drinks,48.2692,2009,Medium,Supermarket Type2
2,Meat,141.6180,1999,Medium,Supermarket Type1
3,Fruits and Vegetables,182.0950,1998,Medium,Grocery Store
4,Household,53.8614,1987,High,Supermarket Type1
...,...,...,...,...,...
8518,Snack Foods,214.5218,1987,High,Supermarket Type1
8519,Baking Goods,108.1570,2002,High,Supermarket Type1
8520,Health and Hygiene,85.1224,2004,Small,Supermarket Type1
8521,Snack Foods,103.1332,2009,Medium,Supermarket Type2
8522,Soft Drinks,75.4670,1997,Small,Supermarket Type1

In [77]:
x_train.dtypes

Item_Type                     object
Item_MRP                     float64
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Type                   object
dtype: object

In [78]:
x_encoded=pd.get_dummies(x_train,columns=['Item_Type','Outlet_Size','Outlet_Type'])
x_encoded   # categorical values need ot be encoded aa they can't be used by the model due to conflicting dtypes

,Item_MRP,Outlet_Establishment_Year,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,249.8092,1999,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,48.2692,2009,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
2,141.6180,1999,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,182.0950,1998,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
4,53.8614,1987,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,214.5218,1987,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
8519,108.1570,2002,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
8520,85.1224,2004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
8521,103.1332,2009,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
8522,75.4670,1997,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0

In [79]:
from sklearn.tree import DecisionTreeRegressor
sales_model = DecisionTreeRegressor(random_state=1)
sales_model.fit(x_encoded, y)    # import the regressor model from sklearn and apply it to the encoded data and the target

DecisionTreeRegressor(random_state=1)

In [80]:
predictions = sales_model.predict(x_encoded.head())
print(predictions)         # predict the target and print it

[3735.138   443.4228 2097.27    732.38    994.7052]

In [81]:
# now onwards with cleaning the test data
test_data.isnull()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,True,False,False
4,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
5676,False,False,False,False,False,False,False,False,False,False,False
5677,False,False,False,False,False,False,False,False,False,False,False
5678,False,False,False,False,False,False,False,False,True,False,False
5679,False,False,False,False,False,False,False,False,True,False,False
5680,False,False,False,False,False,False,False,False,True,False,False

In [82]:
test_data.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [83]:
test_data['Item_Weight']

0       20.750
1        8.300
2       14.600
3        7.315
4          NaN
         ...
5676    10.500
5677     7.600
5678    10.000
5679    15.300
5680     9.500
Name: Item_Weight, Length: 5681, dtype: float64

In [84]:
test_data['Item_Weight'].fillna(0.0,inplace=True)

In [85]:
test_data['Item_Weight']

0       20.750
1        8.300
2       14.600
3        7.315
4        0.000
         ...
5676    10.500
5677     7.600
5678    10.000
5679    15.300
5680     9.500
Name: Item_Weight, Length: 5681, dtype: float64

In [86]:
test_data['Outlet_Size'].fillna(method='ffill',inplace=True)

In [87]:
test_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1
4,FDY38,0.000,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Medium,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,Medium,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,Medium,Tier 2,Supermarket Type1

In [88]:
feature_names = ['Item_Type','Item_MRP','Outlet_Establishment_Year','Outlet_Size','Outlet_Type']
x_test=test_data[feature_names]
x_test

,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Type
0,Snack Foods,107.8622,1999,Medium,Supermarket Type1
1,Dairy,87.3198,2007,Medium,Supermarket Type1
2,Others,241.7538,1998,Medium,Grocery Store
3,Snack Foods,155.0340,2007,Medium,Supermarket Type1
4,Dairy,234.2300,1985,Medium,Supermarket Type3
...,...,...,...,...,...
5676,Snack Foods,141.3154,1997,Small,Supermarket Type1
5677,Starchy Foods,169.1448,2009,Medium,Supermarket Type2
5678,Health and Hygiene,118.7440,2002,Medium,Supermarket Type1
5679,Canned,214.6218,2007,Medium,Supermarket Type1
5680,Canned,79.7960,2002,Medium,Supermarket Type1

In [90]:
z_encoded=pd.get_dummies(x_test,columns=['Item_Type','Outlet_Size','Outlet_Type'])
z_encoded

,Item_MRP,Outlet_Establishment_Year,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,...,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,107.8622,1999,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
1,87.3198,2007,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,241.7538,1998,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,155.0340,2007,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
4,234.2300,1985,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,141.3154,1997,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
5677,169.1448,2009,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
5678,118.7440,2002,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
5679,214.6218,2007,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
5680,79.7960,2002,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [91]:
test_predictions = sales_model.predict(z_encoded.head())
print(test_predictions)  # predict the test data using the previously trained model

[1058.622   610.5386  482.0392  782.315  7170.666 ]